@import "shared_variables";
@import "mixins";

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $fontSizeContent;
    color: $textColor;
}

html,
head,
body {
    margin: 0;
    padding: 0;
	height: 100%;

	[hidden],
	[dependency-hidden],
	[sub-dependency-hidden] {
		// display: none !important;
		visibility: hidden !important;
     	height: 0 !important;
     	margin: 0 !important;
     	padding: 0 !important;
	}

	[no-display] {
		display: none !important;
	}

	.bold {
		font-weight: $fontWeightBoldContent;
	}
}

body {

	&.alert-backdrop {
		overflow: hidden;
	}

	.mat-drawer-content {
		overflow: hidden;
	}
}

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "partials/loading";
@import "partials/forms";
@import "partials/buttons";
@import "partials/xsd2html2xml";
@import "partials/autocomplete";
