/* GENERAL */
$textColor: #333333;
$navigationGrey: #3e3e3e;
$borderGrey: #bbbbbb;

$biodatenRed: #a51e37;
$biodatenGrey: #7d7d7d;
$biodatenYellow: #b4a069;

$altRed: #e53636;

$errorColor: #ff0000;

$fontSizeContent: 14px;

$fontWeightBoldContent: 600;
$fontWeightLegend: 600;


/* BREAKPOINTS */
$breakpoints: (
	xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
	xxxl: 1500px,
	xxxxl: 1600px
);


/* OVERLAY */
$backdropBackground: rgba(0, 0, 0, 0.5);
$backdropBackgroundLight: rgba(0, 0, 0, 0.2);


/* MENU */
$menuWidth: 240px;
$menuBackground: #f8f8f8;


/* PADDING */
$defaultContentPaddingMobile: 14px;
$defaultContentPadding: 30px;
$mediumContentPadding: 40px;
$largeContentPadding: 50px;

/* MARGIN */
$addMarginBottomElements: 12px;
$mediumMarginBottomElements: 20px;
$largeMarginBottomElements: 28px;

/* BUTTONS */
$buttonBackground: #ffffff; // #f1f1f1 bio hub
$buttonBorder: #bbbbbb; // ##d9d9d9 bio hub
$buttonBackgroundHover: $navigationGrey; // #222222 bio hub
$buttonBorderHover: $navigationGrey; // #222222 bio hub
$buttonBackgroundDisabled: #ededed;
$buttonBorderDisabled: #bbbbbb;
$buttonColorDisabled: #717171;


/* TABLES */
