@import '../../../../styles/mixins';
@import '../../../../styles/shared_variables';

/* GENERAL */



:host {
	display: flex;
	flex: 1;
}

.metadata-annotation-form-outer-wrap {

	display: flex;
	flex: 1;

	flex-direction: column;

	position: relative;

	@include respond-above(lg) {
		flex-direction: row;
	}

	.metadata-annotation-form-menu-wrap {

		background: $menuBackground;

		// position: absolute;
		// top: 0;

		// bottom: 0;
		// max-height: 100vh;

		// right: 100%;

		// z-index: 1;

		@include respond-below(lg) {
			border-bottom: 1px solid $borderGrey;
		}

		@include respond-above(lg) {
			// position: relative;
			// top: auto;
			// right: auto;
			// bottom: auto;

			// max-height: auto;

			// z-index: auto;

			flex: 0 0 $menuWidth;

			width: $menuWidth;

			border-right: 1px solid $borderGrey;
		}


		.metadata-annotation-form-menu {

			display: flex;
			flex-direction: column;

			height: 100%;

			.metadata-annotation-form-menu-schemas {
				display: flex;
				flex-direction: row;

				@include respond-above(lg) {
					flex-direction: column;
				}

				.tablink {
					background: none;
					border: none;
					text-align: center;

					padding: 10px 6px;

					cursor: pointer;

					flex: 1 1 0px;

					@include respond-above(md) {
						padding: 24px 20px;
					}

					@include respond-above(lg) {
						flex: auto;
						text-align: left;
					}

					&.active {
						background: $navigationGrey;
						color: #fff;
					}

					&:hover, .tab_focus &:focus {
						background: lighten($navigationGrey, 10%);
						color: #fff;
					}

					&.tab-hidden {
						display: none;
					}
				}
			}

			.metadata-annotation-form-menu-buttons {

				display: none;

				@include respond-above(lg) {
					display: flex;
					// justify-content: space-evenly;
					// margin-top: 20px;

					justify-content: flex-start;
					padding: 24px 0;
					margin: 20px;
					border-top: 1px solid;
				}

			}

			.metadata-annotation-form-menu-settings {

				display: none;

				// @include respond-above(lg) {
				// 	display: block;
				// 	margin-top: auto;
				// 	padding: 10px;
				// }

				> div {

					padding: 10px 0;

					&.metadata-annotation-form-menu-autocomplete {
						display: flex;
						align-items: center;
					}

					> span,
					> label {
						display: inline-block;
						margin-bottom: 2px;
					}
				}


			}
		}
	}

	.metadata-annotation-form-content-wrap {

		flex: 1;

		@include contentPadding();

		.content-block {

			/* Style the tab content */
			&.tabcontent {
				display: none;

				&.active {
					display: block;
				}
			}

			.content-inner-block {
				@include addMarginBottom(large);
			}

			form.parse-single-file {
				input[type="file"] {
					@include addMarginBottom();
				}

				div.form-submit {
					margin-top: 20px;
				}
			}

			.small-content-heading {
				display: block;
			}
		}
	}

	.metadata-annotation-form-mobile-buttons-wrap {

		@include contentPadding();
		@include contentMargin();

		margin-top: 0;

		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;

		position: relative;

		text-align: right;

		@include respond-above(lg) {
			display: none;
		}

		&:before {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: $borderGrey;
		}

		.menu-button {

			margin-left: 10px;

			&:first-of-type {
				margin-left: 0;
			}
		}
	}
}
