<div class="metadata-annotation-form-outer-wrap">
	<ng-container *ngIf="loadingService.isLoading$ | async">
		<div class="loading">
			<img src="../../../../../assets/loader/ajax-loader.gif" alt="" />
		</div>
	</ng-container>

	<div class="metadata-annotation-form-menu-wrap">
		<div class="metadata-annotation-form-menu">
			<div class="metadata-annotation-form-menu-schemas">
				<button
					data-tab="datacite"
					class="tablink active"
					(click)="onClickTab('datacite')"
				>
					Datacite
				</button>
				<button
					data-tab="premis"
					class="tablink"
					(click)="onClickTab('premis')"
				>
					Premis
				</button>
				<button
					data-tab="biodatenMinimal"
					class="tablink"
					(click)="onClickTab('biodatenMinimal')"
				>
					BioDATEN Minimal
				</button>
				<button
					data-tab="custom"
					class="tablink"
					(click)="onClickTab('custom')"
				>
					Custom
				</button>
			</div>
			<div class="metadata-annotation-form-menu-buttons">
				<button hover [disabled]="!saveEnabled" class="biodaten-button menu-button save" (click)="onClickSave()">
					Save
				</button>
				<button hover class="biodaten-button menu-button reset" (click)="onClickReset()">
					Reset
				</button>
			</div>

			<div class="metadata-annotation-form-menu-server-address">
				<span>Processor Server Address:</span>
				<input #inputProcessorServerAddress type="text" placeholder="Processor Server Address" [(ngModel)]="serverAddress" />
			</div>
		</div>
	</div>

	<div class="metadata-annotation-form-content-wrap">
		<div data-tab="datacite" class="content-block tabcontent active">
			<div #formResultDatacite>
				<p>
					<button hover class="biodaten-button" (click)="onClickLoadSchema('datacite')">
						Load datacite
					</button>
				</p>
			</div>
		</div>

		<div data-tab="premis" class="content-block tabcontent">
			<div #formResultPremis>
				<p>
					<button hover class="biodaten-button" (click)="onClickLoadSchema('premis')">
						Load premis
					</button>
				</p>
			</div>
		</div>

		<div data-tab="biodatenMinimal" class="content-block tabcontent">
			<div #formResultBiodatenMinimal>
				<p>
					<button hover class="biodaten-button" (click)="onClickLoadSchema('biodatenMinimal')">
						Load BioDATEN minimal
					</button>
				</p>
			</div>
		</div>

		<div data-tab="custom" class="content-block tabcontent">
			<div #formResultCustom>

				<form class="parse-single-file" (ngSubmit)="onSubmitSingleFile()">

					<div class="form-input">
						<span class="button-heading">Select a template file (.xsd)</span>
						<label class="custom-file-input biodaten-button">
							<input #inputFileSingleTemplate (change)="onChangeFileInput(inputFileSingleTemplate)" type="file" accept=".xsd" />
							<span class="custom-file-input-title">Template file (.xsd)</span>
						</label>

						<span class="button-heading">Optional: Select a content file (.xml)</span>
						<label class="custom-file-input biodaten-button">
							<input #inputFileSingleXML (change)="onChangeFileInput(inputFileSingleXML)" type="file" accept=".xml" />
							<span class="custom-file-input-title">XML file</span>
						</label>
					</div>

					<div class="form-submit">
						<input hover class="biodaten-button" type="submit" value="Load custom schema" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
