<div class="administration-schemas-outer-wrap">

	<app-back-link></app-back-link>

	<!-- Form to add new schema -->
	<div class="administration-schemas-add-new-wrap">

		<fieldset class="administration-schemas-add-new-fieldset">
			<legend>Add new schema</legend>

			<div class="administration-schemas-add-new">

				<input #addNewInputSchema id="administration-schemas-add-new-input-schema" type="text" placeholder="schema (internal description)" />

				<br />

				<input #addNewInputFileName id="administration-schemas-add-new-input-file-name" type="text" placeholder="schema file name (without file extension)" />

				<br />

				<input #addNewInputTabName id="administration-schemas-add-new-input-tab-name" type="text" placeholder="schema tab name" />

				<br />

				<div class="administration-schemas-add-new-input-active-wrap">
					<input #addNewInputActive id="administration-schemas-add-new-input-active" type="checkbox" />
					<label for="administration-schemas-add-new-input-active">Active</label>
				</div>

				<br />

				<button (click)="onClickAddSchemaButton()" class="biodaten-button">Add</button>
			</div>

		</fieldset>
	</div>

	<div class="administration-schemas-show-id-wrap">
		<input #checkBoxShowId id="administration-schemas-show-id-input" type="checkbox" [(ngModel)]="showId"/>
		<label for="administration-schemas-show-id-input">Show ID column</label>
	</div>

	<!-- For small devices list the content in blocks -->
	<div class="administration-schemas-wrap-blocks">

		<div class="administration-schemas-sort-wrap">

			<!-- <mat-form-field appearance="fill">
				<mat-label>Sort by</mat-label>
				<mat-select [(value)]="selectedBlockSortableField" (valueChange)="onBlockSortSelectChange()">
					<mat-option *ngFor="let sortableField of blockSortableFields" [value]="sortableField.value">
						{{sortableField.label}}
					</mat-option>
				</mat-select>
			</mat-form-field> -->
		</div>

		<div class="administration-schemas-block" *ngFor="let resource of autocompleteSchemaDataSortedForBlocks">

			<div class="administration-schemas-block-content-wrap">

				<!-- ID -->
				<div class="administration-schemas-block-content administration-schemas-block-content-id" [ngClass]="{'show': showId}">
					<div class="administration-schemas-block-label administration-schemas-block-label-id">
						ID
					</div>
					<div class="administration-schemas-block-value administration-schemas-block-value-id">
						{{ resource.id }}
					</div>
				</div>

				<!-- Schema -->
				<div class="administration-schemas-block-content administration-schemas-block-content-schema">
					<div class="administration-schemas-block-label administration-schemas-block-label-schema">
						Schema
					</div>
					<div class="administration-schemas-block-value administration-schemas-block-value-schema">
						{{ resource.schema }}
					</div>
				</div>

				<!-- Save -->
				<div class="administration-schemas-block-content administration-schemas-block-content-save">
					<div class="administration-schemas-block-label administration-schemas-block-label-save">
						Save
					</div>
					<div class="administration-schemas-block-value administration-schemas-block-value-save">
						<button (click)="onClickRowSave(resource)" class="clear icon-wrap">
							<mat-icon>save</mat-icon>
						</button>
					</div>
				</div>

				<!-- Delete -->
				<div class="administration-schemas-block-content administration-schemas-block-content-delete">
					<div class="administration-schemas-block-label administration-schemas-block-label-delete">
						Delete
					</div>
					<div class="administration-schemas-block-value administration-schemas-block-value-delete">
						<button (click)="onClickRowDelete(resource)" class="clear icon-wrap">
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- For larger devices list the content in a table -->
	<div class="administration-schemas-wrap-table">

		<table mat-table matSort [dataSource]="dataSource" class="administration-schemas-table">

			<!-- ID Column -->
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'show': showId}">ID</th>
				<td mat-cell *matCellDef="let element" [ngClass]="{'show': showId}">{{element.id}}</td>
			</ng-container>

			<!-- Schema Column -->
			<ng-container matColumnDef="schema">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'id-hidden': !showId}">Schema</th>
				<td mat-cell *matCellDef="let element" [ngClass]="{'id-hidden': !showId}">
					<input id="input-schema-{{element.id}}" type="text" value="{{element.schema}}" placeholder="schema (internal description)" />
				</td>
			</ng-container>

			<!-- File name Column -->
			<ng-container matColumnDef="fileName">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'id-hidden': !showId}">File name (wihout file extension)</th>
				<td mat-cell *matCellDef="let element" [ngClass]="{'id-hidden': !showId}">
					<input id="input-file-name-{{element.id}}" type="text" value="{{element.fileName}}" placeholder="schema file name (without file extension)" />
				</td>
			</ng-container>

			<!-- Tab name Column -->
			<ng-container matColumnDef="tabName">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'id-hidden': !showId}">Tab name</th>
				<td mat-cell *matCellDef="let element" [ngClass]="{'id-hidden': !showId}">
					<input id="input-tab-name-{{element.id}}" type="text" value="{{element.tabName}}" placeholder="schema tab name" />
				</td>
			</ng-container>

			<!-- Active Column -->
			<ng-container matColumnDef="active">
				<th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'id-hidden': !showId}">Active</th>
				<td mat-cell *matCellDef="let element">
					<input id="input-active-{{element.id}}" type="checkbox" [checked]="element.active === true" />
				</td>
			</ng-container>

			<!-- Save Column -->
			<ng-container matColumnDef="save">
				<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
				<td mat-cell *matCellDef="let element">
					<button (click)="onClickRowSave(element)" class="clear icon-wrap">
						<mat-icon>save</mat-icon>
					</button>
				</td>
			</ng-container>

			<!-- Delete Column -->
			<ng-container matColumnDef="delete">
				<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
				<td mat-cell *matCellDef="let element">
					<button (click)="onClickRowDelete(element)" class="clear icon-wrap">
						<mat-icon>delete</mat-icon>
					</button>
				</td>
			</ng-container>


			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<mat-paginator [pageSizeOptions]="[10,20]" showFirstLastButtons aria-label="Select page of periodic elements">
		</mat-paginator>
	</div>

</div>
