<nav class="side-nav-container">

	<div class="side-nav-wrap">

		<div class="side-nav-header">
			<h2>Submenu Content</h2>
		</div>

		<div class="side-nav-content">
			<ul>
				<li>
					<a class="" routerLink="annotation">
						<span class="">Metadata Annotation</span>
					</a>
				</li>
				<li>
					<a class="" routerLink="annotation/test">
						<span class="">Metadata Annotation TEST</span>
					</a>
				</li>
				<li>
					<a class="" routerLink="annotation/test-multi">
						<span class="">Metadata Annotation TEST MULTI Import</span>
					</a>
				</li>
				<li>
					<a class="" routerLink="annotation/test-multi-output">
						<span class="">Metadata Annotation TEST MULTI Output</span>
					</a>
				</li>
				<li>
					<a class="" routerLink="annotation/test-xml-input">
						<span class="">Metadata Annotation TEST XML Input</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

</nav>
