@import "../../../../styles/shared_variables";
@import "../../../../styles/mixins";

.administration-autocomplete-outer-wrap {

	@include contentPadding();

	.icon-wrap {
		display: block;
		height: 24px;
		width: 24px;
	}

	.administration-autocomplete-add-new-wrap {

		@include addMarginBottom(large);

		.administration-autocomplete-add-new {

			select, input[type="text"] {
				margin-right: 14px;
				margin-bottom: 14px;
			}

			select {
				min-width: 200px;
			}

			input[type="text"] {
				width: 100%;
			}

			.administration-autocomplete-add-new-input-active-wrap {
				display: flex;
			}
		}
	}

	.administration-autocomplete-show-id-wrap {

		@include addMarginBottom(large);

		display: flex;
	}

	.administration-autocomplete-tab-control-wrap {

		.administration-autocomplete-tabs {

			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			align-items: flex-end;

			.administration-autocomplete-tab {

				cursor: pointer;

				border: none;

				border-top: 1px solid $navigationGrey;
				border-left: 1px solid $navigationGrey;

				background: transparent;

				&:last-child {
					border-right: 1px solid $navigationGrey;
				}

				&.active {

					border-top: 1px solid $navigationGrey;
					border-left: 1px solid $navigationGrey;
					border-right: 1px solid $navigationGrey;

					.administration-autocomplete-tab-text {
						font-size: 16px;
					}
				}

				&.active + .administration-autocomplete-tab {
					border-left: none;
				}

				.administration-autocomplete-tab-text {
					display: block;
					padding: 3px;
				}
			}
		}
	}

	.administration-autocomplete-wrap-blocks {

		display: block;

		@include respond-above(md) {
			display: none;
		}

		.administration-autocomplete-blocks-sort-wrap {

			.mat-form-field {
				width: 100%;

				&.mat-focused {

					.mat-form-field-ripple {
						background-color: $navigationGrey;
					}

					&.mat-primary {

						.mat-select-arrow {
							color: $navigationGrey;
						}
					}
				}
			}
		}

		.administration-autocomplete-block {

			@include addMarginBottom(medium);

			.administration-autocomplete-block-content-wrap {

				position: relative;
				border: 1px solid $borderGrey;

				&:after {
					content: " ";
					position: absolute;

					height: 100%;
					width: 10px;

					right: 0;
					top: 0;
				}

				.administration-autocomplete-block-content {

					display: flex;
					align-items: center;

					padding: 8px;

					background: #f3f3f3;

					&:nth-child(2n) {
						background: #fff;
					}

					.administration-autocomplete-block-label {
						width: 120px;
					}

					.administration-autocomplete-block-value {
						word-break: break-word;
					}
				}
			}
		}
	}

	.administration-autocomplete-wrap-table {

		display: none;

		@include respond-above(md) {
			display: block;
		}

		.administration-autocomplete-table {
			width: 100%;

			border: 1px solid $borderGrey;

			.mat-header-row {
				background: $navigationGrey;

				.mat-header-cell {
					color: #fff;
					font-size: $fontSizeContent;

					&.mat-sort-header {

						* {
							color: #fff;
						}
					}
				}
			}

			.mat-row {

				&:hover {

					.mat-cell {
						cursor: default;
					}
				}

				.mat-cell {
					border-bottom: 1px solid transparent;
					border-top: 1px solid transparent;
					cursor: pointer;

					padding-right: 10px;

					font-size: $fontSizeContent;

					&.cdk-column-save,
					&.cdk-column-delete {
						width: 40px;

						button {

							&:hover {
								cursor: pointer;
							}

							&:hover, .tab_focus &:focus {
								outline: 1px solid #333;
							}
						}
					}

					@include respond-above(xxl) {

						input[type="text"] {
							width: 300px;
						}
					}
				}
			}

			.cdk-column-id {
				display: none;

				&.show {
					display: table-cell;
				}
			}

			.cdk-column-schema {
				&.id-hidden {
					padding-left: 24px;
				}
			}
		}

		.mat-paginator-outer-container {

			.mat-paginator-container {

				.mat-paginator-range-actions {

					.mat-button-disabled {
						border: none !important;
						background: none !important;

						.mat-button-wrapper {

							svg {

								path {
									color: #a6a6a6;
								}
							}
						}
					}
				}
			}
		}
	}
}


