@import "../shared_variables";
@import "../mixins";

a.link-button,
button,
input[type="button"],
input[type="file"],
input[type="submit"],
label {

	&:disabled {
		background: $buttonBackgroundDisabled !important;
		border: 1px solid $buttonBorderDisabled !important;
		color: $buttonColorDisabled !important;

		cursor: default !important;

		/*TODO: Currently hidden?*/
		display: none;
	}

	&.biodaten-button {

		text-decoration: none;

		background: $buttonBackground;
		border: 1px solid $buttonBorder;
		color: $textColor;
		padding: 6px 16px;

		@include border-radius(3px);

		&:hover, &:active, .tab_focus &:focus {
			@include button-hover($buttonBackgroundHover, 1px solid $buttonBackgroundHover, #fff);
		}

		&[hover] {
			cursor: pointer;
		}
	}

	&.clear {

		background: none;
		border: none;

		margin: 0;
		padding: 0;
	}
}

label {

	&.biodaten-button {
		padding: 4px 16px;
	}
}
