@import "../shared_variables";
@import "../mixins";

form {

	label.custom-file-input {

		display: inline-block;
		width: auto;

		&:focus-within {
			@include button-hover($buttonBackgroundHover, 1px solid $buttonBackgroundHover, #fff);
		}

		@include addMarginBottom();

		input[type="file"] {
			@include hideElementAccessibilty();
		}
	}

	.button-heading {
		display: block;
		margin-bottom: 2px;
	}

	.invalid-input {
		border: 2px solid $errorColor;

		&:focus {
			outline: none !important;
			border: 2px solid $errorColor;
			box-shadow: 0 0 4px;
		}
	}

	.invalid-text-span {
		display: inline-block;
		margin-top: -2px;
		color: $errorColor;
	}
}


