@import "../shared_variables";
@import "../mixins";

// Simple loading screen (ajax loader)
.loading {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: $backdropBackground;

	display: flex;
	align-items: center;
	justify-content: center;
}

// Advanced loading screen (Logo + colors)
@property --a {
	initial-value: 0deg;
	inherits: false;
	syntax: '<angle>';
}

@property --h {
	initial-value: 349;
	inherits: false;
	syntax: '<number>';
}

@property --s {
	initial-value: 69%;
	inherits: false;
	syntax: '<percentage>';
}

@property --l {
	initial-value: 38%;
	inherits: false;
	syntax: '<percentage>';
}

// This is used to hide the loading backup loading graphic for browsers
// that do not support property. Only Chrome, Edge > v79 and Webkit support it.
@property --hide {
	initial-value: none;
	inherits: false;
	syntax: '*';
}

@-webkit-keyframes load {

	0%,
	10% {
		--a: 0deg;
		--h: 0;
		--s: 69%;
		--l: 38%;
	}

	50% {
		--a: 180deg;
		--h: 0;
		--s: 0%;
		--l: 49%;
	}

	100% {
		--a: 360deg;
		--h: 44;
		--s: 33%;
		--l: 56%;
	}
}

@keyframes load {

	0%,
	10% {
		--a: 0deg;
		--h: 0;
		--s: 69%;
		--l: 38%;
	}

	50% {
		--a: 180deg;
		--h: 0;
		--s: 0%;
		--l: 49%;
	}

	100% {
		--a: 360deg;
		--h: 44;
		--s: 33%;
		--l: 56%;
	}
}


/* As a backup loading animation for browsers that don't support @property, use a spinning circle */
$offset: 187;
$duration: 1.4s;

@keyframes rotator {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(270deg); }
}

@keyframes colors {
	0% { stroke:$biodatenRed; }
	// 25% { stroke: #DE3E35; }
	50% { stroke: $biodatenGrey; }
	// 75% { stroke: #1B9A59; }
	100% { stroke: $biodatenYellow; }
}

@keyframes dash {
	0% {
		stroke-dashoffset: $offset;
	}
	50% {
		stroke-dashoffset: $offset/4;
		transform:rotate(135deg);
	}
	100% {
		stroke-dashoffset: $offset;
		transform:rotate(450deg);
	}
}


.loader-wrap {

	display: block;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: #fff;

	z-index: 1;

	&.hide {
		display: none;
	}

	.loader-wrap-inner {

		display: grid;

		position: relative;

		top: 100px;

		place-items: center;

		.loader {
			padding: 2rem 4rem;
			font-family: monospace;
			font-weight: bold;
			color: #fff;
			border-style: solid;
			border-width: 1vmin;
			font-size: 2rem;

			// Only supported by browsers that support @property
			// Others won't show this. They won't hide .backup-loader
			--charge: hsl(var(--h), var(--s), var(--l));
			-o-border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
			border-image: conic-gradient(var(--charge) var(--a), transparent calc(var(--a) + 0.5deg)) 30;
			-webkit-animation: load 2s infinite ease-in-out;
			animation: load 2s infinite ease-in-out;
		}

		// Browsers that support @property will hide this container
		.backup-loader {
			display: var(--hide);

			.spinner {
				animation: rotator $duration linear infinite;
			}

			.path {
				stroke-dasharray: $offset;
				stroke-dashoffset: 0;
				transform-origin: center;
				animation:
					dash $duration ease-in-out infinite,
					colors ($duration*4) ease-in-out infinite;
			}
		}

		.logo {

			text-align: center;
			margin-top: 60px;

			.header-logo {
				width: 60%;
				max-width: 1400px;
			}
		}
	}
}
