@import "../shared_variables";
@import "../mixins";

.xsd2html2xml {

	> section {
		> fieldset {
			border: none;
			padding: 0;
			margin: 0;
		}
	}

	fieldset {

		clear: both;

		border: 1px solid $borderGrey;

		@include border-radius(3px);

		legend {
			float: left;
			display: flex;
			justify-content: space-between;
			align-items: baseline;

			padding: 4px 0px;

			width: 100%;

			font-weight: $fontWeightLegend;
		}

		section,
		label {
			clear: both;
			position: relative;
		}

		section {

			display: flex;
			flex-direction: column;

			> fieldset {

				> section {

					> button.add {
						width: auto;

						margin: 8px 0;
					}
				}

			}

		}
	}

	label {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		margin: 8px 0;

		&.stretch {
			flex-direction: row;
    		align-items: stretch;

			input[type="radio"] {
				margin-right: 6px;
			}
		}

		span {
			margin-bottom: 1px;
		}
	}

	section {
		margin: 0;
		@include addMarginBottom(medium);

		fieldset {
			margin: 0;
			@include addMarginBottom(medium);
		}
	}


	button {

		&.add {
			width: 100%;
			text-align: left;
			background: transparent;
			border: 1px solid $borderGrey;
			padding: 6px 8px;

			// float: left;
			// display: block;
			// clear: both;

			align-self: flex-start;

			@include border-radius(3px);
		}

	}

	legend {
		> button {
			margin: 0;
		}
	}

	input, select {
		min-width: 340px;

		&[type="radio"],
		&[type="date"] {
			min-width: auto;
		}
	}


	button {

		&:hover {
			cursor: pointer;
		}

		&[type='submit'] {

			&:before {
				content: "OK";
			}
		}

		&.add {

			&:before {
				content: "+ ";
			}
		}

		&.remove {

			background: none;
			border: none;

			text-decoration: underline;

			margin-left: 10px;

			&:hover, &:active, .tab_focus &:focus {
				/*TODO*/
			}

			&:before {
				content: "Remove";
			}
		}
	}

	input[data-xsd2html2xml-duration='days'] + span:after {
		content: " (days)";
	}
	input[data-xsd2html2xml-duration='minutes'] + span:after {
		content: " (minutes)";
	}

	button[type="submit"] {
		display: none;
	}

	/* FLEX */
	// fieldset {
	// 	display: flex;
	// 	flex-wrap: wrap;

	// 	> legend {
	// 		flex: 100%;
	// 	}

	// 	> label {
	// 		flex: 50%;

	// 		&.stretch {
	// 			flex: 100%;
	// 		}
	// 	}

	// 	> section {

	// 		flex: 100%;

	// 		&.input-section {
	// 			flex: 50%;
	// 		}

	// 	}
	// }
}
