@import "../../../../styles/shared_variables";
@import "../../../../styles/mixins";

.administration-render-options-outer-wrap {

	@include contentPadding();

	.icon-wrap {
		display: block;
		height: 24px;
		width: 24px;
	}

	.administration-render-options-add-new-wrap {

		@include addMarginBottom(large);

		.administration-render-options-add-new-toggle-button {
			display: flex;

			background: transparent;
    		border: 1px solid $navigationGrey;

   			margin-top: 10px;
			padding: 6px 10px;

    		text-align: left;

			cursor: pointer;

			&:hover, .tab_focus &:focus {
				background: lighten($navigationGrey, 10%);

				* {
					color: #fff;
				}
			}

			&.show-fieldset {
				margin-bottom: $addMarginBottomElements;
			}

			.administration-render-options-add-new-toggle-text {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-content: center;
				align-items: center;
			}
		}

		.administration-render-options-add-new {

			select, input[type="text"] {
				margin-right: 14px;
				margin-bottom: 14px;
			}

			select {
				min-width: 200px;
			}

			input[type="text"] {
				width: 100%;
			}

			.administration-render-options-add-new-input-readonly-wrap,
			.administration-render-options-add-new-input-hide-wrap,
			.administration-render-options-add-new-input-active-wrap {
				display: flex;
			}
		}
	}

	.administration-render-options-show-id-wrap {

		@include addMarginBottom(large);

		display: flex;
	}

	.administration-render-options-tab-control-wrap {

		.administration-render-options-tabs {

			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			align-items: flex-end;

			.administration-render-options-tab {

				cursor: pointer;

				border: none;

				border-top: 1px solid $navigationGrey;
				border-left: 1px solid $navigationGrey;

				background: transparent;

				&:last-child {
					border-right: 1px solid $navigationGrey;
				}

				&.active {

					border-top: 1px solid $navigationGrey;
					border-left: 1px solid $navigationGrey;
					border-right: 1px solid $navigationGrey;

					.administration-render-options-tab-text {
						font-size: 16px;
					}
				}

				&.active + .administration-render-options-tab {
					border-left: none;
				}

				.administration-render-options-tab-text {
					display: block;
					padding: 3px;
				}
			}
		}
	}

	.administration-render-options-wrap-blocks {

		display: block;

		@include respond-above(md) {
			display: none;
		}

		.administration-render-options-blocks-sort-wrap {

			.mat-form-field {
				width: 100%;

				&.mat-focused {

					.mat-form-field-ripple {
						background-color: $navigationGrey;
					}

					&.mat-primary {

						.mat-select-arrow {
							color: $navigationGrey;
						}
					}
				}
			}
		}

		.administration-render-options-block {

			@include addMarginBottom(medium);

			.administration-render-options-block-content-wrap {

				position: relative;
				border: 1px solid $borderGrey;

				&:after {
					content: " ";
					position: absolute;

					height: 100%;
					width: 10px;

					right: 0;
					top: 0;
				}

				.administration-render-options-block-content {

					display: flex;
					align-items: center;

					padding: 8px;

					background: #f3f3f3;

					&:nth-child(2n) {
						background: #fff;
					}

					.administration-render-options-block-label {
						width: 120px;
					}

					.administration-render-options-block-value {
						word-break: break-word;
					}
				}
			}
		}
	}

	.administration-render-options-wrap-table {

		display: none;

		@include respond-above(md) {
			display: block;
		}

		.administration-render-options-table {
			width: 100%;

			border: 1px solid $borderGrey;

			.mat-header-row {
				background: $navigationGrey;

				.mat-header-cell {
					color: #fff;
					font-size: $fontSizeContent;

					&.mat-sort-header {

						* {
							color: #fff;
						}
					}
				}
			}

			.mat-row {

				&:hover {

					.mat-cell {
						cursor: default;
					}
				}

				.mat-cell {
					border-bottom: 1px solid transparent;
					border-top: 1px solid transparent;
					cursor: pointer;

					padding-right: 10px;

					font-size: $fontSizeContent;

					// REMOVE: SHOULD NO LONGER BE NEEDED
					// &.cdk-column-readonly,
					// &.cdk-column-hide,
					// &.cdk-column-active {
					// 	max-width: 70px;
					// }

					&.cdk-column-save,
					&.cdk-column-delete,
					&.cdk-column-edit {
						width: 40px;

						button {

							&:hover {
								cursor: pointer;
							}

							&:hover, .tab_focus &:focus {
								outline: 1px solid #333;
							}
						}
					}

					input[type="text"] {
						width: 100%;
					}

					@include respond-above(xxl) {

						input[type="text"] {
							max-width: 300px;
						}
					}
				}
			}

			.cdk-column-id {
				display: none;

				&.show {
					display: table-cell;
				}
			}

			.cdk-column-schema {
				&.id-hidden {
					padding-left: 24px;
				}
			}

			.cdk-column-xpath {

				&.detail-view-mode {
					width: 100%;
					padding-left: 20px;
				}
			}
		}

		.mat-paginator-outer-container {

			.mat-paginator-container {

				.mat-paginator-range-actions {

					.mat-button-disabled {
						border: none !important;
						background: none !important;

						.mat-button-wrapper {

							svg {

								path {
									color: #a6a6a6;
								}
							}
						}
					}
				}
			}
		}
	}
}
