@import "styles/shared_variables";
@import "styles/mixins";

.side-nav-wrap-container {
	background: #fff;

	.side-nav {
		width: 100%;

		@include respond-above(sm) {
			width: auto;
		}
	}

	.side-nav-content {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		.main-content {
			display: flex;
			flex-direction: column;
			flex: 1;

			.user-notice {
				@include contentPadding();
			}
		}
	}
}
