<div class="administration-outer-wrap">
	<div class="administration-overview">
		<ul>
			<li>
				<a routerLink="./schemas" class="administration-overview-list-link"><mat-icon>tab</mat-icon><span class="administration-overview-list-link-text">Schemas Settings</span></a>
			</li>
			<li>
				<a routerLink="./autocomplete" class="administration-overview-list-link"><mat-icon>format_list_bulleted</mat-icon><span class="administration-overview-list-link-text">Autocomplete Settings</span></a>
			</li>
			<li>
				<a routerLink="./render-options" class="administration-overview-list-link"><mat-icon>format_align_left</mat-icon><span class="administration-overview-list-link-text">Render Options</span></a>
			</li>
		</ul>
	</div>
</div>
