<footer>
	<div class="footer-outer-wrap">

		<div class="footer-inner-wrap">

			<div class="footer-sponsor-wrap">

				<div class="footer-sponsor-text-wrap">

					<span class="footer-sponsor-text">
						Sponsored by:
					</span>

				</div>

				<div class="footer-sponsor-logo-wrap">

					<div class="footer-bawue-wrap">

						<a href="https://mwk.baden-wuerttemberg.de/de/startseite/" target="_blank" title="External link to baden-wuerttemberg info page">
							<span class="footer-bawue-link-wrap">
								<span class="footer-bawue-logo">
									<img src="assets/logo/logo-bawue.png" alt=""/>
								</span>
								<span class="footer-bawue-text">
									Ministerium für Wissenschaft, Forschung und Kunst Baden-Württemberg
								</span>
							</span>
						</a>
					</div>

					<div class="footer-digital-bw-wrap">

						<a href="https://www.digital-bw.de/" target="_blank" title="External link to digital bw info page">
							<img src="assets/logo/logo_digital-bw.png" alt="" />
						</a>
					</div>

				</div>

			</div>

			<div class="footer-link-wrap">

				<a href="https://portal.biodaten.info/footer/privacy" target="_blank" title="External link to privacy">Privacy</a>
				<a href="https://portal.biodaten.info/footer/imprint" target="_blank" title="External link to imprint">Imprint</a>
			</div>
		</div>
	</div>
</footer>
