<div class="metadata-annotation-form-outer-wrap">
	<ng-container *ngIf="loadingService.isLoading$ | async">
		<div class="loading">
			<img src="assets/loader/ajax-loader.gif" alt="" />
		</div>
	</ng-container>

	<div class="metadata-annotation-form-menu-wrap">
		<div class="metadata-annotation-form-menu">
			<div class="metadata-annotation-form-menu-schemas">
				<button
					data-tab="settings"
					class="tablink active"
					(click)="onClickTab('settings')"
				>
					Settings
				</button>
				<button
					#templateTab
					data-tab="REPLACE_NAME_TAB"
					class="tablink tab-hidden"
					(click)="onClickTab('REPLACE_NAME_TAB')"
				>
					REPLACE_NAME_DISPLAY
				</button>
			</div>
			<div class="metadata-annotation-form-menu-buttons">
				<button hover [disabled]="!saveEnabled" class="biodaten-button menu-button save" (click)="onClickSave()">
					Save
				</button>
				<button hover class="biodaten-button menu-button reset" (click)="onClickReset()">
					Reset
				</button>

				<button hover class="biodaten-button menu-button" (click)="onClickTest()">
					Test
				</button>
			</div>

			<div class="metadata-annotation-form-menu-server-address">
				<span>Processor Server Address:</span>
				<input #inputProcessorServerAddress type="text" placeholder="Processor Server Address" [(ngModel)]="serverAddress" />
			</div>
		</div>
	</div>

	<div class="metadata-annotation-form-content-wrap">
		<div data-tab="settings" class="content-block tabcontent active">

			<form class="parse-single-file" (ngSubmit)="onSubmitMultipleFiles()">

				<div class="form-input">
					<span class="button-heading">Select a template file (.xsd)</span>
					<label class="custom-file-input biodaten-button">
						<input #inputFilesTemplate (change)="onChangeFileInput(inputFilesTemplate)" type="file" accept=".xsd"  multiple />
						<span class="custom-file-input-title">Template file (.xsd)</span>
					</label>

					<span class="button-heading">Optional: Select a content file (.xml)</span>
					<label class="custom-file-input biodaten-button">
						<input #inputFilesXML (change)="onChangeFileInput(inputFilesXML)" type="file" accept=".xml" multiple />
						<span class="custom-file-input-title">XML file</span>
					</label>
				</div>

				<div class="form-submit">
					<input hover class="biodaten-button" type="submit" value="Load schemas" />
				</div>
			</form>
		</div>

		<div data-tab="REPLACE_NAME_TAB" class="content-block tabcontent" #templateTabContent>

		</div>
	</div>
</div>
