@import "../../../../styles/shared_variables";
@import "../../../../styles/mixins";

.user-metadata-resource-wrap {

	@include contentPadding();

	.user-metadata-resource-table {
		width: 100%;

		border: 1px solid $borderGrey;

		.mat-header-row {
			background: $navigationGrey;

			.mat-header-cell {
				color: #fff;
				font-size: $fontSizeContent;

				&.mat-sort-header {

					* {
						color: #fff;
					}
				}
			}
		}

		.mat-row {

			&:hover {

				.mat-cell {
					background: #f0f0f0;
				}
			}

			.mat-cell {
				border-bottom: 1px solid transparent;
				border-top: 1px solid transparent;
				cursor: pointer;

				font-size: $fontSizeContent;

				&.cdk-column-title {
					width: 28%;
				}

				&.cdk-column-status {
					width: 100px;

					position: relative;

					&:after {
						content: " ";
						position: absolute;

						height: 100%;
						width: 14px;

						right: 0;
						top: 0;
					}

					&.new {
						&:after {
							background: #b8daff;
						}

					}

					&.progress {
						&:after {
							background: #ffeeba;
						}
					}

					&.finished {
						&:after {
							background: #c3e6cb;
						}
					}

				}


			}

		}


	}


	.mat-paginator-outer-container {

		.mat-paginator-container {

			.mat-paginator-range-actions {

				.mat-button-disabled {
					border: none !important;
					background: none !important;

					.mat-button-wrapper {

						svg {

							path {
								color: #a6a6a6;
							}
						}
					}
				}
			}
		}
	}

}


