@import "../../../../styles/shared_variables";
@import "../../../../styles/mixins";

.user-metadata-resource-outer-wrap {

	@include contentPadding();

	.new-resource-button {
		@include addMarginBottom();
	}

	.user-metadata-resource-show-id-wrap {

		@include addMarginBottom();

		display: flex;
	}


	.user-metadata-resource-wrap-blocks {

		display: block;

		@include respond-above(md) {
			display: none;
		}

		.user-metadata-resource-blocks-sort-wrap {

			.mat-form-field {
				width: 100%;

				&.mat-focused {

					.mat-form-field-ripple {
						background-color: $navigationGrey;
					}

					&.mat-primary {

						.mat-select-arrow {
							color: $navigationGrey;
						}
					}
				}
			}
		}

		.user-metadata-resource-block {

			@include addMarginBottom(medium);

			.user-metadata-resource-block-content-wrap {

				position: relative;
				border: 1px solid $borderGrey;

				&:after {
					content: " ";
					position: absolute;

					height: 100%;
					width: 10px;

					right: 0;
					top: 0;
				}

				&.a_new {
					&:after {
						background: #b8daff;
					}

				}

				&.k_progress {
					&:after {
						background: #ffeeba;
					}
				}

				&.t_finished {
					&:after {
						background: #c3e6cb;
					}
				}

				&.z_pub {
					&:after {
						background: #ff9101;
					}
				}


				.user-metadata-resource-block-content {

					display: flex;
					align-items: center;

					padding: 8px;

					background: #f3f3f3;

					&:nth-child(2n) {
						background: #fff;
					}

					.user-metadata-resource-block-label {
						width: 120px;
					}
				}
			}
		}
	}

	.user-metadata-resource-wrap-table {

		display: none;

		@include respond-above(md) {
			display: block;
		}

		.user-metadata-resource-table {
			width: 100%;

			/*border: 1px solid $borderGrey;*/

			.mat-header-row,
			.mat-row {

				.cdk-column-id {
					display: none;

					&.show {
						display: table-cell;
					}
				}
			}

			.mat-header-row {
				background: $navigationGrey;

				.mat-header-cell {
					color: #fff;
					font-size: $fontSizeContent;

					&.mat-sort-header {

						* {
							color: #fff;
						}
					}

					&.cdk-column-export {
						width: 14px;

						background: #fff;
						border: none;
					}
				}
			}

			.mat-row {

				&:last-child {

					td {
						border-bottom: 1px solid $borderGrey;
					}
				}

				&:hover {

					.mat-cell {
						background: #f0f0f0;
					}
				}

				.mat-cell {
					/*border-bottom: 1px solid transparent;
					border-top: 1px solid transparent;*/

					border-bottom: none;
					border-top: none;

					cursor: pointer;

					padding-right: 10px;

					font-size: $fontSizeContent;

					&.cdk-column-position {
						border-left: 1px solid $borderGrey;
					}

					&.cdk-column-title {
						width: 40%;

						&.showId {
							width: 28%;
						}
					}

					&.cdk-column-status {
						width: 100px;

						position: relative;

						border-right: 1px solid $borderGrey;

						&:after {
							content: " ";
							position: absolute;

							height: calc(100% - 2px);
							width: 14px;

							right: 0;
							top: 1px;
						}

						&.a_new {
							&:after {
								background: #b8daff;
							}

						}

						&.k_progress {
							&:after {
								background: #ffeeba;
							}
						}

						&.t_finished {
							&:after {
								background: #c3e6cb;
							}
						}

						&.z_pub {
							&:after {
								background: #ff9101;
							}
						}
					}

					&.cdk-column-export {
						width: 14px;

						background: none;
						border: none;

						cursor: default;

						button {
							background: none;
							//border: 1px solid $borderGrey;
							border: none;
							padding: 4px 4px 0px 5px;
							cursor: pointer;
						}
					}
				}
			}
		}

		.mat-paginator-outer-container {

			.mat-paginator-container {

				.mat-paginator-range-actions {

					.mat-button-disabled {
						border: none !important;
						background: none !important;

						.mat-button-wrapper {

							svg {

								path {
									color: #a6a6a6;
								}
							}
						}
					}
				}
			}
		}
	}
}


