<div #loadingWrapper class="loader-wrap">
	<div class="loader-wrap-inner">
		<div class="loader">
			<p>
				{{ textUpper }}<br />
				{{ textLower }}
			</p>
		</div>

		<div class="backup-loader">
			<!-- <img class="backup-loader-image" src="assets/loader/ajax-loader_white_bg.gif" alt="" /> -->
			<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
			 </svg>
		</div>

		<div class="logo">
			<img class="header-logo" src="assets/logo/biodaten_logo_text.png" alt="" />
		</div>
	</div>
</div>

